<div class="row">
    <div class="container-fluid">
        <nav class="navbar navbar-inverse " role="navigation">
          <div class="container">

            <div class="col-xs-12 col-md-4"<p style="color: #ffffff;"><br>©2019 Joe Mulhern<br><br> </p></div>
            <div class="col-xs-12 col-md-4"<p style="color: #ffffff;"><br>github: https://github.com/guitarman513 <br><br> </p></div>
            <div class="col-xs-12 col-md-4"<p style="color: #ffffff;"><br>email: joemulhern513@gmail.com<br><br></p></div>

          </div>
        </nav>
    </div>
</div>