{% extends './page_base.html'%}
{% block page %}

<!--Need a container class for most code. "container" = fixed width. -fluid denotes full width of screen-->
<div class="row">
    <div class="col-xs-6">
        <div class = "container-fluid">
            <div class="jumbotron" style="background-color: #FFFFFF">
                <img src="/static/img/joe.PNG" class="img-fluid img-rounded img-responsive" alt="..." style="width:230px;height:230px; float: right;">
                <h1>Hey I'm Joe <br> </h1>
                <p><br>I enjoy making things and documenting them for myself and others.</p>
                <p> <br> </p>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class = "container-fluid">
            <div class="jumbotron" style="background-color: #FFFFFF">
                <img src="/static/img/neuLogo.png" class="img-fluid img-rounded img-responsive" alt="..." style="width:230px;height:230px; float: right;">
                <p><br>I study Electrical and Computer Engineering and have a passion for software. </p>
                <p> <br> </p>
                <p> <br> </p>
                <p> <br> </p>
            </div>
        </div>
    </div>
</div>







<div class="container-fluid">

    <div class="jumbotron" style="background-color: #ffffff">


        <div class="row">


            <div class="col-xs-6">
                <div class="container-fluid">
                    <div class="jumbotron" style="background-color: #FFFFFF">
                        <img src="/static/img/NEU.PNG" class="img-responsive img-rounded" alt="Northeastern University" style="width: auto; height: auto; float: left; position: relative">
                        <i style="font-size: 120%">I attended Northeastern University from 2015 until 2020.</i>
                    </div>
                </div>
            </div>




            <div class = "col-xs-6">
                <div class="container-fluid">
                    <div class="jumbotron" style="background-color: #ffffff">
                        <img src="/static/img/divider1.png" class="img-rounded img-responsive" style="width: auto; height: auto">
                        <br>
                        <h5>
                        <p>
                            &ensp;&ensp;&ensp;&ensp;This simple website serves as a way for me to keep track of the small projects I work on in my free time. 
                            This site is a project in itself - I use Nodejs with Express as the backend, and swig as a templating engine for the 
                            html. I host it on an AWS Ubuntu EC2 instance, and all the code is on my github page linked at the bottom.
                            <br><br>
                            &ensp;&ensp;&ensp;&ensp;In addition to the projects listed here, my previous work experiences have involved:
                            <ul style="font-size: 130%; list-style-type: circle">
                                <li>RF Engineering and signal analysis for SigFox</li>
                                <li>Electrical Engineering for Desktop Metal</li>
                                <li>IT for McGrenra Group</li>
                                <li>Data Analytics for Raytheon</li>
                            </ul>
                        </p>
                        <p>
                            
                            <br><br>
                            &ensp;&ensp;&ensp;&ensp;Please explore the tabs above to learn more about my experience and
                            projects.
                        </p>
                        </h5>
                    </div>
                </div>
            </div>


        </div>

    </div>

</div>







{% endblock %}
