    <!--javascript files-->
    <script src="./static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/html5shiv.min.js"></script>
    <script src="/static/js/respond.min.js"></script>

    <!--Getting 'look' of bootstrap from css file-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <!--Getting glyphicons-->
    <link rel="stylesheet" href="/static/fonts/glyphicons-halflings-regular.svg">

    <!--Custom style-->
    <link rel="stylesheet" href='/static/css/irish_style.css'/>