<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!--Creating automatic toggle button that comes up when screen is small-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mecoNavBar">
                <span class="glyphicon glyphicon-menu-down" style="color: #ffffff"></span><!--Each line of the toggle button-->
            </button>
            <!--     Putting Home icon in here because we dont want it to collapse with the others-->
            <!--     # means no href link  / means home-->
            <a href="/" class="navbar-brand" ><span style="color: white" class="glyphicon glyphicon-home" ></span><span style="color: white">&nbsp;&nbsp;HOME&nbsp;&nbsp;</span></a>
        </div>

        <!--MENU ITEMS-->
                          <!--making it able to be collapsed and assigning it an id for targeting-->
        <div class="collapse navbar-collapse" id="mecoNavBar">
            <!--unordered list-->
            <ul class="nav navbar-nav" >
                <!--List items-->
                <!--active means visual indicator for that tab-->

                <!---------Left Side------->
                <li> <a href="/school"><span style="color: white" class="glyphicon glyphicon-education"></span><span style="color: white">&nbsp;&nbsp;SCHOOL WORK&nbsp;&nbsp;</span></a></li>
                <li><a href="/projects"><span style="color: white" class="glyphicon glyphicon-wrench"></span><span style="color: white">&nbsp;&nbsp;PROJECTS&nbsp;&nbsp;</span></a></li>
                <!--<li><a href="/affiliations"><span style="color: white" class="glyphicon glyphicon-user"></span><span style="color: white">&nbsp;&nbsp;AFFILIATIONS&nbsp;&nbsp;</span></a></li>-->
                <!--<li><a href="/safety"><span style="color: white" class="glyphicon glyphicon-thumbs-up"></span><span style="color: white">&nbsp;&nbsp;SAFETY&nbsp;&nbsp;</span></a></li>-->
                <!--<li><a href="/contact-us"><span style="color: white" class="glyphicon glyphicon-phone-alt"></span><span style="color: white">&nbsp;&nbsp;CONTACT&nbsp;US&nbsp;&nbsp;</span></a></li>-->
                </li>
            </ul>
        </div>

    </div>
</nav>