{% extends "./page_base.html"%}
{% block page %}

<div class="row">
    <div class="col-md-12">
        <div class = "container-fluid">
            <div class="jumbotron" style="background-color: #FFFFFF">
                <img src="/static/img/twoShamrocks.jpg" class="img-responsive img-rounded" alt="TwoShamrocks" style="width:230px;height:230px; float: right;">
                <h1>404 NOT FOUND!</h1>
                <p> Looks like you have the wrong address. <br>If you typed it in by hand, please check your spelling.</p>
                <br><br><br><br><br><br><br>
            </div>
        </div>
    </div>
</div>


{% endblock %}