{% extends './page_base.html'%}
{% block page %}

<!--Need a container class for most code. "container" = fixed width. -fluid denotes full width of screen-->
<div class="row">
    <div class="col-xs-12">
        <div class = "container-fluid">
            <div class="jumbotron" style="background-color: #FFFFFF">
                <h1>Personal Projects! <br> </h1>
                <p> <br> </p>
            </div>
        </div>
    </div>
</div>



<!--       LED STRIP         -->

<div class="container-fluid">
        <div class="jumbotron" style="background-color: #FFFFFF">
            <div class="row">
                <div class="container-fluid">
                    <div class="col-xs-4">
                        <div class = "container-fluid">
                            <u><center><h2>Automated LED Strips - 11k views on Instructables</h2></center></u>
                            <p>Back when I moved into my first apartment a few years ago, I didn't know how tacky LED strips looked. All 
                                the info can be found on instructables <a href="https://www.instructables.com/id/Back-to-School-LED-Strip-Automation/" >here.</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="clearfix">
                                <img src="/static/img/projPics/LED.png" class="img-fluid img-rounded img-responsive" alt="..." style="height:400px; float: right;">
                        </div>
                    </div>
                    <div class="col-xs-4">
                            <div class="clearfix">
                                    <img src="/static/img/projPics/LEDSetup.png" class="img-fluid img-rounded img-responsive" alt="..." style="height:400px; float: right;">
                            </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>




<!--       3D printer         -->

<div class="container-fluid">
        <div class="jumbotron" style="background-color: #FFFFFF">
            <div class="row">
                <div class="container-fluid">
                    <div class="col-xs-4">
                        <div class = "container-fluid">
                            <u><center><h2>DIY 3D printer!</h2></center></u>
                            <p>After my first Coop during the summer of Sophomore year, I wanted to get into 3D printing, so I bought a kit with all of the parts included.
                                It taught me what goes into 3D printing from all of the stepper motors, motor drivers, slicing software, etc. It also landed me my second Coop
                                at a 3D printing company!
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="clearfix">
                                <img src="/static/img/projPics/3dprint1.JPG" class="img-fluid img-rounded img-responsive" alt="..." style="height:400px; float: right;">
                        </div>
                    </div>
                    <div class="col-xs-4">
                            <div class="clearfix">
                                    <img src="/static/img/projPics/3dprint2.JPG" class="img-fluid img-rounded img-responsive" alt="..." style="height:400px; float: right;">
                            </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>







<!--       BEER CANNON         -->



<div class="container-fluid">
    <div class="jumbotron" style="background-color: #FFFFFF">
        <div class="row">
            <div class="container-fluid">
                <div class="col-xs-3">
                    <div class = "container-fluid">
                        <u><center><h2>Beer Cannon</h2></center></u>
                        <div class="clearfix">
                            <img src="/static/img/projPics/beer1.png" class="img-fluid img-rounded img-responsive" alt="..." style="width:230px;height:230px; float: right;">
                        </div>
                        <p>Messing around with an air compressor, a directional control valve, and a quick exaust
                            valve.
                        </p>
                    </div>
                </div>
                <div class="col-xs-9">
                    <div class = "container-fluid">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/t8jWkrV9P-s?rel=0"   ></iframe>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
    



<!--       SPEAKERS         -->
<div class="container-fluid">
    <div class="jumbotron" style="background-color: #FFFFFF">
        <div class="row">
            <div class="container-fluid">
                <div class="col-xs-4">
                    <div class = "container-fluid">
                        <u><center><h2>Speakers</h2></center></u>
                        <p>Had a coworker give me his old car's sub woofer, so I bought some 16x9 car speakers and wired up this large speaker. 
                        </p>
                    </div>
                </div>
                    <div class="col-xs-4">
                        <div class="clearfix">
                                <img src="/static/img/projPics/speaker1.PNG" class="img-fluid img-rounded img-responsive" alt="..." style="height:400px; float: right;">
                        </div>
                    </div>
                    <div class="col-xs-4">
                            <div class="clearfix">
                                    <img src="/static/img/projPics/speakDone.PNG" class=" img-rounded img-responsive" alt="..." style="height:400px; float: right;">
                            </div>
                    </div>
             </div> 
        </div>
    </div>
</div>

<!--       Darts Calculator         -->

<div class="container-fluid">
        <div class="jumbotron" style="background-color: #FFFFFF">
            <div class="row">
                <div class="container-fluid">
                    <div class="col-xs-4">
                        <div class = "container-fluid">
                            <u><center><h2>Darts Calculator</h2></center></u>
                            <p>My roommates and I inherited a dartboard. Subtracting is time consuming. I spent a couple of hours making a solution! Now we can fly through games of 301 and 501. 
                                 All of the info can be found on instructables <a href="https://www.instructables.com/id/Lazy-301-Dart-Buddy/" >here.</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="clearfix">
                                <img src="/static/img/projPics/DartSetup.png" class="img-fluid img-rounded img-responsive" alt="..." style="height:400px; float: right;">
                        </div>
                    </div>
                    <div class="col-xs-4">
                            <div class="clearfix">
                                    <img src="/static/img/projPics/DARTfinal.PNG" class="img-fluid img-rounded img-responsive" alt="..." style="height:400px; float: right;">
                            </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>


<!--       GUITAR laser cutter         -->

<div class="container-fluid">
        <div class="jumbotron" style="background-color: #FFFFFF">
            <div class="row">
                <div class="container-fluid">
                    <div class="col-xs-4">
                        <div class = "container-fluid">
                            <u><center><h2>DIY Guitar</h2></center></u>
                            <p>The summer before I started college my high school physics teacher invited me to come in a couple days per week so that we could
                                each build guitars together. We took a unique approach, designing the body in CAD and then using a laser cutter to slice sections of 
                                quarter inch slabs of different woods. I wired up the pickups, which eventually led to me choosing EE as my major!
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="clearfix">
                                <img src="/static/img/projPics/guitar2.JPG" class="img-fluid img-rounded img-responsive" alt="..." style="height:400px; float: right;">
                        </div>
                    </div>
                    <div class="col-xs-4">
                            <div class="clearfix">
                                    <img src="/static/img/projPics/guitar1.PNG" class="img-fluid img-rounded img-responsive" alt="..." style="height:400px; float: right;">
                            </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>


















<div class="container-fluid">

    <div class="jumbotron" style="background-color: #ffffff">


        <div class="row">


            <div class="col-xs-6">
                <div class="container-fluid">
                    <div class="jumbotron" style="background-color: #FFFFFF">
                        <img src="/static/img/NEU.PNG" class="img-responsive img-rounded" alt="Northeastern University" style="width: auto; height: auto; float: left; position: relative">
                        <i style="font-size: 120%">I attended Northeastern University from 2015 until 2020.</i>
                    </div>
                </div>
            </div>




            <div class = "col-xs-6">
                <div class="container-fluid">
                    <div class="jumbotron" style="background-color: #ffffff">
                        <img src="/static/img/divider1.png" class="img-rounded img-responsive" style="width: auto; height: auto">
                        <br>
                        <h5>
                        <p>
                            &ensp;&ensp;&ensp;&ensp;This simple website serves as a way for me to keep track of the small projects I work on in my free time. 
                            This site is a project in itself - I use Nodejs with Express as the backend, and swig as a templating engine for the 
                            html. I host it on an AWS Ubuntu EC2 instance, and all the code is on my github page linked at the bottom.
                            <br><br>
                            &ensp;&ensp;&ensp;&ensp;In addition to the projects listed here, my previous work experiences have involved:
                            <ul style="font-size: 130%; list-style-type: circle">
                                <li>RF Engineering and signal analysis for SigFox</li>
                                <li>Electrical Engineering for Desktop Metal</li>
                                <li>IT for McGrenra Group</li>
                                <li>Data Analytics for Raytheon</li>
                            </ul>
                        </p>
                        <p>
                            
                            <br><br>
                            &ensp;&ensp;&ensp;&ensp;Please explore the tabs above to learn more about my experience and
                            projects.
                        </p>
                        </h5>
                    </div>
                </div>
            </div>


        </div>

    </div>

</div>







{% endblock %}
