{% extends './page_base.html'%}
{% block page %}

<!--Need a container class for most code. "container" = fixed width. -fluid denotes full width of screen-->
<div class="row">
    <div class="col-xs-12">
        <div class = "container-fluid">
            <div class="jumbotron" style="background-color: #FFFFFF">
                <h1>Videos! <br> </h1>
                <p> <br> </p>
                <h3>
                    I try to upload videos occasionally... here are some examples. You can explore the channel to see more.
                </h3>
            </div>
        </div>
    </div>
</div>

<!--       Air Gap BH Curve DCDC Converter       -->



<div class="container-fluid">
    <div class="jumbotron" style="background-color: #FFFFFF">
        <div class="row">
            <div class="container-fluid">
                <div class="col-xs-12  col-md-3">
                    <div class = "container-fluid">
                        <u><center><h2>Power Electronics</h2></center></u>
                        <p>Throughout college I've been taking courses on Power Electronics and Magnetics. 
                            <br> I never received a proper answer about some fundamental questions I had on the subject. I couldn't find answers on youtube (my usual go-to) so I made my own video.
                            <br> I plan on recording more of these in the future, since there are hardly any helpful power electronics videos on youtube.
                        </p>
                    </div>
                </div>
                <div class="col-xs-12  col-md-9">
                    <div class = "container-fluid">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0D2YgDl39Fk"   ></iframe>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>


<!--       Amie       -->



<div class="container-fluid">
        <div class="jumbotron" style="background-color: #FFFFFF">
            <div class="row">
                <div class="container-fluid">
                    <div class="col-xs-12  col-md-3">
                        <div class = "container-fluid">
                            <u><center><h2>Acoustic Guitar</h2></center></u>
                            <p>It should be a crime to not show off the Martin. <br> This is me jamming to Amie by Pure Prarie League.
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12  col-md-9">
                        <div class = "container-fluid">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_sxBjphmoNY?rel=0"   ></iframe>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
   




<!--       Electric       -->



<div class="container-fluid">
        <div class="jumbotron" style="background-color: #FFFFFF">
            <div class="row">
                <div class="container-fluid">
                    <div class="col-xs-12  col-md-3">
                        <div class = "container-fluid">
                            <u><center><h2>Electric Guitar</h2></center></u>
                            <p>Something a little heavier. Trying to get Hot for Teacher by Van Halen down flat. The Les Paul is a great guitar but not for his stuff.
                                The channel has a couple more small covers of riffs and such.
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12  col-md-9">
                        <div class = "container-fluid">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gFe2IPykyFs?rel=0"   ></iframe>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
   









<!--       PCA        -->



<div class="container-fluid">
        <div class="jumbotron" style="background-color: #FFFFFF">
            <div class="row">
                <div class="container-fluid">
                    <div class="col-xs-12  col-md-3">
                        <div class = "container-fluid">
                            <u><center><h2>Intro to ML - Explanation of PCA</h2></center></u>
                            <p>After taking an intro to ML class, I wanted to make sure I would retain the knowledge of how PCA worked... I tried to make the video as interesting as possible.
                                <br>
                                I started this second channel to document more "professional" things, but so far don't have much professional content!
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12  col-md-9">
                        <div class = "container-fluid">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xhEyR0yuugo?rel=0"   ></iframe>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    











{% endblock %}
